<div class="col-md-4 col-md-offset-4">
    <h2>编辑讨论版</h2>

    <hr>
    <%= simple_form_for [@group, @post] do |f| %>
     <%= f.input :content, as: :ckeditor, input_html: { class: "form-control"} %>

           <%= f.submit "Submit" %>
    <% end %>

</div>
